<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PLAID_SECRET</key>
	<string>541d8a4ee730995c392321344eb379</string>
	<key>PLAID_CLIENT_ID</key>
	<string>67b103c76b6a790023a482c0</string>
</dict>
</plist>
